<!-- search bar at footer -->
<span class="grid" id="searchBar">

    <span id="search">
        <!-- <form role="search" method="get" action="{{site.baseurl}}/search/"> -->
        <form name="s" role="search" method="get" action="/search" onsubmit="return determineAction()">
            <input id="searchString" name="q" placeholder="Google search..." type="text"></input>
            <input type="hidden" name="sitesearch" value="http://yuanjiang.space"></input>

            <!-- <input id="searchButton" name="submit" type="submit" value="GO"></input> -->
            <!-- <input id="searchButton" type="image" src="/images/search.png" alt="GO"></input> -->
        </form>
        <script type="text/javascript">
          function determineAction()
          {
            if (document.s.q.value != "")
            {
              document.s.action = "https://www.google.com/search";
            }
            return true;
          }
        </script>
    </span>
</span>
